.container {
    width: 40%;
}

.sneaker__card {
    background-color: white;
    margin: 32px 0 32px 0;
    border-radius: 50px;
    padding: 0 48px;
}

.wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.sneaker {
    width: 100%;
}

.sneaker__title {
    margin: 0;
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}

.sneaker__subtitle {
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}

.sneaker__description {
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.inner__texts {
    width: 100%;
}

.inner__table {
    width: 100%;
}

.table__text:first-child {
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.table__text {
    color: var(--black, #121723);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid black;
    padding: 10px 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column; 
    }

    .inner__texts {
        width: 100%;
    }
    
    .inner__table {
        width: 100%;
    }
}